In [16]:
#confs iniciais
import pyautogui as pg
import pandas as pd
import time
import pyperclip
pg.PAUSE = 0.3

In [31]:
#display tabela original (Excel)
tabela = pd.read_excel("C:\\Users\\felip\Desktop\Fe\CURSOS\Workspace-Hashtag\projeto\ProjetodeautomacaoSAP.xlsx", sheet_name="Organizador de planilha - Sant")
tabela = tabela.drop(columns=["Oscilação (R$)", "Pagador", "Responsável"])

display(tabela)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\felip\AppData\Local\Temp\ipykernel_18364\1721988708.py:2: SyntaxWarning: invalid escape sequence '\D'
  tabela = pd.read_excel("C:\\Users\\felip\Desktop\Fe\CURSOS\Workspace-Hashtag\projeto\ProjetodeautomacaoSAP.xlsx", sheet_name="Organizador de planilha - Sant")

,Seu Número,Nosso Número,Vencimento,Data da Liquidação,Valor do Título (R$),Valor Cobrado (R$),Cod Sap,Centro de lucro,Conta razão
0,123,321,31,2,3,5,6,NaN,NaN

In [30]:
# Obtencao dos dados

#pg.click(x=108, y=402, clicks=2) #cliente
time.sleep(0.5)

texto = pyperclip.paste()
numeros = texto.split('\r\n')

for linha in numeros:
    print(linha)

    popo = pd.Series["a"]
    new_tabela = pd.concat([tabela, popo], axis=1)
    display(new_tabela)

 R$ 3,00

TypeError: type 'Series' is not subscriptable